<!-- Footer -->
<footer id="footer">
  <div class="footer">
    <!-- Footer Top -->
    <div class="footer-top">
      <div class="container">
        <div class="row">
          <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
            <div class="block text">
              <div class="block-content">
                <a href="index.html" class="logo-footer">
                  <img style="height: 100%; width: 100%;" src="./assets/img/logo-doan5-dai.png" alt="Logo">
                </a>

                <div class="contact">
                  <div class="item d-flex">
                    <div class="item-left">
                      <i class="zmdi zmdi-home"></i>
                    </div>
                    <div class="item-right">
                      <span>Thị trấn Yên Mỹ - Yên Mỹ - Hưng Yên</span>
                    </div>
                  </div>
                  <div class="item d-flex">
                    <div class="item-left">
                      <i class="zmdi zmdi-phone-in-talk"></i>
                    </div>
                    <div class="item-right">
                      <span>0379114366</span>
                    </div>
                  </div>
                  <div class="item d-flex">
                    <div class="item-left">
                      <i class="zmdi zmdi-email"></i>
                    </div>
                    <div class="item-right">
                      <span><a href="mailto:support@domain.com">thanghym321@gmail.com</a></span>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>

          <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
            <div class="block instagram">
              <h2 class="block-title">Ảnh</h2>

              <div class="block-content">
                <div class="row margin-0">
                  <div class="col-xs-3 col-sm-3 col-md-3 col-lg-3 padding-0">
                    <a href="#">
                      <img src="./assets/img/instagram-1.png" alt="Instagram Image">
                    </a>
                  </div>
                  <div class="col-xs-3 col-sm-3 col-md-3 col-lg-3 padding-0">
                    <a href="#">
                      <img src="./assets/img/instagram-2.png" alt="Instagram Image">
                    </a>
                  </div>
                  <div class="col-xs-3 col-sm-3 col-md-3 col-lg-3 padding-0">
                    <a href="#">
                      <img src="./assets/img/instagram-3.png" alt="Instagram Image">
                    </a>
                  </div>
                  <div class="col-xs-3 col-sm-3 col-md-3 col-lg-3 padding-0">
                    <a href="#">
                      <img src="./assets/img/instagram-4.png" alt="Instagram Image">
                    </a>
                  </div>
                  <div class="col-xs-3 col-sm-3 col-md-3 col-lg-3 padding-0">
                    <a href="#">
                      <img src="./assets/img/instagram-5.png" alt="Instagram Image">
                    </a>
                  </div>
                  <div class="col-xs-3 col-sm-3 col-md-3 col-lg-3 padding-0">
                    <a href="#">
                      <img src="./assets/img/instagram-6.png" alt="Instagram Image">
                    </a>
                  </div>
                  <div class="col-xs-3 col-sm-3 col-md-3 col-lg-3 padding-0">
                    <a href="#">
                      <img src="./assets/img/instagram-7.png" alt="Instagram Image">
                    </a>
                  </div>
                  <div class="col-xs-3 col-sm-3 col-md-3 col-lg-3 padding-0">
                    <a href="#">
                      <img src="./assets/img/instagram-8.png" alt="Instagram Image">
                    </a>
                  </div>
                </div>
              </div>
            </div>
          </div>

          <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
            <div class="block newsletter">
              <h2 class="block-title">Bản tin</h2>

              <div class="block-content">
                <p class="description">Đăng ký nhận bản tin để nhận các ưu đãi đặc biệt và tin tức độc quyền về các sản phẩm AnhThawngs</p>
                <form action="#" method="post">
                  <input type="text" placeholder="Nhập email của bạn">
                  <button type="submit" class="btn btn-primary">Đăng ký</button>
                </form>
              </div>
            </div>

            <div class="block social">
              <h2 class="block-title">Theo dõi chúng tôi</h2>

              <div class="block-content">
                <ul>
                  <li><a href="#"><i class="zmdi zmdi-facebook"></i></a></li>
                  <li><a href="#"><i class="zmdi zmdi-twitter"></i></a></li>
                  <li><a href="#"><i class="zmdi zmdi-dribbble"></i></a></li>
                  <li><a href="#"><i class="zmdi zmdi-instagram"></i></a></li>
                </ul>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <!-- Footer Bottom -->
    <div class="footer-bottom">
      <div class="payment-intro">
        <div class="container">
          <div class="row">
            <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12">
              <div class="item d-flex">
                <div class="item-left">
                  <img src="./assets/img/home1-payment-1.png" alt="Payment Intro">
                </div>
                <div class="item-right">
                  <h3 class="title">Miễn phí vận chuyển hàng</h3>
                  <div class="content">Miễn phí toàn bộ đơn hàng trên 50.000 VND</div>
                </div>
              </div>
            </div>

            <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12">
              <div class="item d-flex">
                <div class="item-left">
                  <img src="./assets/img/home1-payment-2.png" alt="Payment Intro">
                </div>
                <div class="item-right">
                  <h3 class="title">Thanh toán an toàn</h3>
                  <div class="content">Mọi thông tin của bạn đều được bảo vệ an toàn</div>
                </div>
              </div>
            </div>

            <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12">
              <div class="item d-flex">
                <div class="item-left">
                  <img src="./assets/img/home1-payment-3.png" alt="Payment Intro">
                </div>
                <div class="item-right">
                  <h3 class="title">Đảm bảo lại tiền</h3>
                  <div class="content">Nếu không ưng ý bạn có thể liên hệ với chúng tôi để hoàn trả</div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <!-- Copyright -->
  <div class="footer-copyright">
    <div class="container">
      <div class="row">
        <div class="col-lg-7 col-md-7 col-sm-7 col-xs-12">
        </div>

        <div class="col-lg-5 col-md-5 col-sm-5 col-xs-12 align-right">
          <div class="payment">
            <span>Chấp nhận thanh toán</span>
            <img src="./assets/img/payment.png" alt="Payment">
          </div>
        </div>
      </div>
    </div>
  </div>
</footer>
