<!-- Main Content -->
<div id="content" class="site-content">
  <!-- Breadcrumb -->
  <div id="breadcrumb">
    <div class="container">
      <h2 class="title">{{product.name}}</h2>

      <ul class="breadcrumb">
        <li><a href="" title="Trang chủ">Trang chủ</a></li>
        <li><a [routerLink]="['/home/list',product.category_Id]" title="{{product.category_Name}}">{{product.category_Name}}</a></li>
      </ul>
    </div>
  </div>


  <div class="container">
    <div class="product-detail">
      <div class="products-block layout-5">
        <div class="product-item">
          <div class="product-title">
            {{product.name}}
          </div>

          <div class="row">
            <div class="product-left col-md-5 col-sm-5 col-xs-12">
              <div class="product-image vertical">
                <div class="main-image">
                  <img class="img-responsive" src="{{product.image}}" alt="Product Image">
                </div>
                <div class="thumb-images">
                  <img class="img-responsive" src="{{imagedetail}}" alt="Product Image" *ngFor="let imagedetail of product.image_Detail">
                </div>
              </div>
            </div>

            <div class="product-right col-md-7 col-sm-7 col-xs-12">
              <div class="product-info">
                <div class="product-price">
                  <span class="sale-price" >{{product.price |currency:'VND'}}</span>
                  <!-- <span class="base-price">$90.00</span> -->
                </div>

                <div class="product-stock">
                  <span class="availability">Tình trạng :</span><i class="fa fa-check-square-o" aria-hidden="true"></i>Còn Hàng
                </div>

                <div class="product-short-description" >
                  {{product.description}}
                </div>

                <!-- <div class="product-variants border-bottom">
                  <div class="product-variants-item">
                    <span class="control-label">Kích thước :</span>
                    <select>
                      <option value="1" title="S">S</option>
                      <option value="2" title="M">M</option>
                      <option value="3" title="L">L</option>
                      <option value="4" title="One size">One size</option>
                    </select>
                  </div>

                  <div class="product-variants-item">
                    <span class="control-label">Màu :</span>

                    <ul>
                      <li>
                        <input class="input-color" type="radio" value="1">
                        <span class="color" style="background-color: #E84C3D"></span>
                      </li>
                      <li>
                        <input class="input-color" type="radio" value="2">
                        <span class="color" style="background-color: #5D9CEC"></span>
                      </li>
                      <li>
                        <input class="input-color" type="radio" value="3">
                        <span class="color" style="background-color: #A0D468"></span>
                      </li>
                      <li>
                        <input class="input-color" type="radio" value="4">
                        <span class="color" style="background-color: #F1C40F"></span>
                      </li>
                      <li>
                        <input class="input-color" type="radio" value="5">
                        <span class="color" style="background-color: #964B00"></span>
                      </li>
                      <li>
                        <input class="input-color" type="radio" value="6">
                        <span class="color" style="background-color: #FCCACD"></span>
                      </li>
                    </ul>
                  </div>
                </div> -->

                <div class="product-add-to-cart border-bottom">
                  <div class="product-quantity">
                    <span class="control-label">Số lượng :</span>
                    <div class="qty">
                      <div class="input-group">
                        <input type="text" name="qty" value="1" data-min="1">
                        <span class="adjust-qty">
                          <span class="adjust-btn plus">+</span>
                          <span class="adjust-btn minus">-</span>
                        </span>
                      </div>
                    </div>
                  </div>

                  <div class="product-buttons">
                    <a class="add-to-cart"  (click)="_addToCart(product)">
                      <i class="fa fa-shopping-basket" aria-hidden="true"></i>
                      <span>Thêm vào giỏ hàng</span>
                    </a>

                    <a class="add-wishlist" href="#">
                      <i class="fa fa-heart" aria-hidden="true"></i>
                    </a>
                  </div>
                </div>

                <div class="product-share border-bottom">
                  <div class="item">
                    <a href="#"><i class="zmdi zmdi-share" aria-hidden="true"></i><span class="text">Chia sẻ</span></a>
                  </div>
                  <div class="item">
                    <a href="#"><i class="zmdi zmdi-email" aria-hidden="true"></i><span class="text">Gửi cho một người bạn</span></a>
                  </div>
                  <div class="item">
                    <a href="#"><i class="zmdi zmdi-print" aria-hidden="true"></i><span class="text">In</span></a>
                  </div>
                </div>

                <div class="product-review border-bottom">
                  <div class="item">
                    <div class="product-quantity">
                      <span class="control-label">Đánh giá :</span>
                      <div class="product-rating">
                        <div class="star on"></div>
                        <div class="star on"></div>
                        <div class="star on"></div>
                        <div class="star on"></div>
                        <div class="star"></div>
                      </div>
                    </div>
                  </div>

                  <div class="item">
                    <a href="#"><i class="zmdi zmdi-comments" aria-hidden="true"></i><span class="text">Đọc đánh giá (3)</span></a>
                  </div>

                  <div class="item">
                    <a href="#"><i class="zmdi zmdi-edit" aria-hidden="true"></i><span class="text">Viết đánh giá</span></a>
                  </div>
                </div>

                <div class="product-extra">
                  <div class="item">
                    <span class="control-label">Đánh giá :</span><span class="control-label">E-02154</span>
                  </div>
                  <div class="item">
                    <span class="control-label">Loại :</span>
                    <a [routerLink]="['/home/list',product.category_Id]" title="Vegetables">{{product.category_Name}}</a>
                  </div>
                  <div class="item">
                    <span class="control-label">Thẻ :</span>
                    <a href="#" title="Vegetables">Hot Trend,</a>
                  </div>
                </div>
              </div>
            </div>
          </div>

          <div class="product-tab">
            <!-- Tab Navigation -->
            <div class="tab-nav">
              <ul>
                <li class="active">
                  <a data-toggle="tab" href="#description">
                    <span>Mô tả</span>
                  </a>
                </li>
                <li>
                  <a data-toggle="tab" href="#additional-information">
                    <span>Thông tin thêm</span>
                  </a>
                </li>
                <li>
                  <a data-toggle="tab" href="#review">
                    <span>Đánh giá</span>
                  </a>
                </li>
              </ul>
            </div>

            <!-- Tab Content -->
            <div class="tab-content">
              <!-- Description -->
              <!-- <div role="tabpanel" class="tab-pane fade in active" id="description">
                <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Donec quam felis, ultricies nec, pellentesque eu, pretium quis, sem. Nulla consequat massa quis enim. Donec pede justo, fringilla vel, aliquet nec, vulputate eget, arcu.</p>
                <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Donec quam felis, ultricies nec, pellentesque eu, pretium quis, sem. Nulla consequat massa quis enim. Donec pede justo, fringilla vel, aliquet nec, vulputate eget, arcu. Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Donec quam felis, ultricies nec, pellentesque eu, pretium quis, sem. Nulla consequat massa quis enim. Donec pede justo, fringilla vel, aliquet nec, vulputate eget, arcu.</p>
              </div> -->

              <!-- Product Tag -->
              <!-- <div role="tabpanel" class="tab-pane fade" id="additional-information">
                <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Donec quam felis, ultricies nec, pellentesque eu, pretium quis, sem. Nulla consequat massa quis enim. Donec pede justo, fringilla vel, aliquet nec, vulputate eget, arcu.</p>
                <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Donec quam felis, ultricies nec, pellentesque eu, pretium quis, sem. Nulla consequat massa quis enim. Donec pede justo, fringilla vel, aliquet nec, vulputate eget, arcu. Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Donec quam felis, ultricies nec, pellentesque eu, pretium quis, sem. Nulla consequat massa quis enim. Donec pede justo, fringilla vel, aliquet nec, vulputate eget, arcu.</p>
              </div> -->

              <!-- Review -->
              <!-- <div role="tabpanel" class="tab-pane fade" id="review">
                <div class="reviews">
                  <div class="comments-list">
                    <div class="item">
                      <div class="comment-left pull-left">
                        <div class="avatar">
                          <img src="img/avatar.jpg" alt="" width="70" height="70">
                        </div>
                        <div class="product-rating">
                          <div class="star on"></div>
                          <div class="star on"></div>
                          <div class="star on"></div>
                          <div class="star on"></div>
                          <div class="star on"></div>
                        </div>
                      </div>
                      <div class="comment-body">
                        <div class="comment-meta">
                          <span class="author">Peter</span> - <span class="time">June 02, 2018</span>
                        </div>
                        <div class="comment-content">Look at the sunset, life is amazing, life is beautiful, life is what you make it. To succeed you must believe. When you believe, you will succeed. In life there will be road blocks but we will over come it. Celebrate success right, the only way, apple. The ladies always say Khaled you smell good, I use no cologne. Cocoa butter is the key. </div>
                      </div>
                    </div>

                    <div class="item">
                      <div class="comment-left pull-left">
                        <div class="avatar">
                          <img src="img/avatar.jpg" alt="" width="70" height="70">
                        </div>
                        <div class="product-rating">
                          <div class="star on"></div>
                          <div class="star on"></div>
                          <div class="star on"></div>
                          <div class="star on"></div>
                          <div class="star"></div>
                        </div>
                      </div>
                      <div class="comment-body">
                        <div class="comment-meta">
                          <span class="author">Merry</span> - <span class="time">June 17, 2018</span>
                        </div>
                        <div class="comment-content">Look at the sunset, life is amazing, life is beautiful, life is what you make it. To succeed you must believe. When you believe, you will succeed. In life there will be road blocks but we will over come it. Celebrate success right, the only way, apple. The ladies always say Khaled you smell good, I use no cologne. Cocoa butter is the key. </div>
                      </div>
                    </div>
                  </div>

                  <div class="review-form">
                    <h4 class="title">Write a review</h4>

                    <form action="#" method="post" class="form-validate">
                      <div class="form-group">
                        <div class="text">Your Rating</div>
                        <div class="product-rating">
                          <div class="star"></div>
                          <div class="star"></div>
                          <div class="star"></div>
                          <div class="star"></div>
                          <div class="star"></div>
                        </div>
                      </div>

                      <div class="form-group">
                        <div class="text">You review<sup class="required">*</sup></div>
                        <textarea id="comment" name="comment" cols="45" rows="6" aria-required="true"></textarea>
                      </div>

                      <div class="form-group">
                        <button class="btn btn-primary">Send your review</button>
                      </div>
                    </form>
                  </div>
                </div>
              </div> -->
            </div>
          </div>
        </div>
      </div>
    </div>

    <!-- Related Products -->
    <div class="products-block related-products item-4">
      <div class="block-title">
        <h2 class="title"><span>Những sản phẩm tương tự</span></h2>
      </div>

      <div class="block-content">
        <div class="products owl-theme owl-carousel">
          <div class="product-item" *ngFor="let lp of list_product">
            <div class="product-image">
              <a [routerLink]="['/home/detail',lp.id]">
                <img src="{{lp.image}}" alt="Product Image" style="height:100px; width:100px;">
              </a>
            </div>

            <div class="product-title">
              <a [routerLink]="['/home/detail',lp.id]">
                {{lp.name}}
              </a>
            </div>

            <!-- <div class="product-rating">
              <div class="star on"></div>
              <div class="star on"></div>
              <div class="star on "></div>
              <div class="star on"></div>
              <div class="star"></div>
            </div> -->

            <div class="product-price">
              <span class="sale-price">{{lp.price}}</span>
              <!-- <span class="base-price">$90.00</span> -->
            </div>

            <div class="product-buttons">
              <a class="add-to-cart" (click)="_addToCart(lp)">
                <i class="fa fa-shopping-basket" aria-hidden="true"></i>
              </a>

              <a class="add-wishlist" href="#">
                <i class="fa fa-heart" aria-hidden="true"></i>
              </a>

              <a class="quickview" href="#">
                <i class="fa fa-eye" aria-hidden="true"></i>
              </a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
