<!-- Header -->
<header id="header">
  <!-- Topbar -->
  <div class="topbar">
    <!-- Close Topbar -->
    <div class="close-topbar">
      <i class="zmdi zmdi-close"></i>
    </div>

    <!-- Topbar Content -->
    <div class="container topbar-content">
      <div class="row">
        <!-- Topbar Left -->
        <div class="col-md-7 col-sm-7 col-xs-12">
          <div class="topbar-left d-flex">
            <div class="email">
              <i class="fa fa-envelope" aria-hidden="true"></i>Email: thanghym321@gmail.com
            </div>
            <div class="skype">
              <i class="fa fa-facebook" aria-hidden="true"></i>Facebook: thanghym321
            </div>
          </div>
        </div>

        <!-- Topbar Right -->
        <div class="col-md-5 col-sm-5 col-xs-12">
          <div class="topbar-right d-flex justify-content-end">
            <!-- My Account -->
            <div class="dropdown account">
              <div class="dropdown-toggle" data-toggle="dropdown">
                Tài khoản của tôi
              </div>
              <div class="dropdown-menu">
                <div class="item">
                  <a href="#" title="Log in to your customer account"><i class="fa fa-cog"></i>Tài khoản của tôi</a>
                </div>
                <div class="item">
                  <a href="user-login.html" title="Log in to your customer account"><i class="fa fa-sign-in"></i>Đăng nhập</a>
                </div>
                <div class="item">
                  <a href="user-register.html" title="Register Account"><i class="fa fa-user"></i>Đăng ký</a>
                </div>
                <div class="item">
                  <a href="#" title="My Wishlists"><i class="fa fa-heart"></i>Sản phẩm yêu thích</a>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <!-- Open Topbar -->
    <div class="container active">
      <div id="toggle-topbar"><i class="zmdi zmdi-plus"></i></div>
    </div>
  </div>

  <!-- Header Top -->
  <div class="header-top">
    <div class="container">
      <div class="row">
        <!-- Search -->
        <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12">
          <div class="form-search">
            <form action="#" method="get">
              <input type="text" class="form-input" placeholder="Tìm kiếm...">
              <button type="submit" class="fa fa-search"></button>
            </form>
          </div>
        </div>

        <!-- Logo -->
        <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12">
          <div class="logo">
            <a href="">
              <img class="img-responsive" src="/assets/img/logo-doan5-dai.png" alt="Logo">
            </a>
          </div>

          <span id="toggle-mobile-menu"><i class="zmdi zmdi-menu"></i></span>
        </div>

        <!-- Cart -->
        <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12">
          <div class="block-cart dropdown">
            <div class="cart-title">
              <i class="fa fa-shopping-basket"></i>
              <span class="cart-count">2</span>
            </div>

            <div class="dropdown-content">
              <div class="cart-content">
                <table>
                  <tbody>
                    <tr>
                      <td class="product-image">
                        <a href="product-detail-left-sidebar.html">
                          <img src="img/product/7.jpg" alt="Product">
                        </a>
                      </td>
                      <td>
                        <div class="product-name">
                          <a href="product-detail-left-sidebar.html">Organic Strawberry Fruits</a>
                        </div>
                        <div>
                          2 x <span class="product-price">$28.98</span>
                        </div>
                      </td>
                      <td class="action">
                        <a class="remove" href="#">
                          <i class="fa fa-trash-o" aria-hidden="true"></i>
                        </a>
                      </td>
                    </tr>

                    <tr>
                      <td class="product-image">
                        <a href="product-detail-left-sidebar.html">
                          <img src="img/product/6.jpg" alt="Product">
                        </a>
                      </td>
                      <td>
                        <div class="product-name">
                          <a href="product-detail-left-sidebar.html">Organic Strawberry</a>
                        </div>
                        <div>
                          1 x <span class="product-price">$35.00</span>
                        </div>
                      </td>
                      <td class="action">
                        <a class="remove" href="#">
                          <i class="fa fa-trash-o" aria-hidden="true"></i>
                        </a>
                      </td>
                    </tr>

                    <tr class="total">
                      <td>Tổng:</td>
                      <td colspan="2">$92.96</td>
                    </tr>

                    <tr>
                      <td colspan="3">
                        <div class="cart-button">
                          <a class="btn btn-primary" [routerLink]="['customers/cart']" title="View Cart">Xem giỏ hàng</a>
                          <a class="btn btn-primary" href="product-checkout.html" title="Checkout">Thanh toán</a>
                        </div>
                      </td>
                    </tr>
                  </tbody>
                </table>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <!-- Main Menu -->
  <div id="main-menu">
    <ul class="menu">
      <li>
        <a href="" title="Trang chủ">Trang chủ</a>
      </li>

      <li class="dropdown">
        <a title="Sản phẩm">Sản phẩm</a>
        <div class="dropdown-menu">
          <ul>
            <li class="has-image" *ngFor="let c of list_category">
              <img src="{{c.image}}" alt="Product Category Image">
              <a [routerLink]="['home/list/',c.id]"   title="Vegetables">{{c.name}}</a>
            </li>
          </ul>
        </div>
      </li>

      <li>
        <a href="blog-list-left-sidebar-1.html">Tin tức</a>
      </li>

      <li>
        <a href="page-about-us.html">Về chúng tôi</a>
      </li>

      <li>
        <a href="page-contact.html">Liên hệ</a>
      </li>
    </ul>
  </div>
</header>
